body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.glide--next-btn,
.glide--prev-btn {
  color: #FAFAD2;
  background:rgba(122, 31, 31, 0.9);
}

.glide--dots .active-dot {
  color: rgba(122, 31, 31, 0.9);
}
